In [1]:
import pandas as pd

<b>Ideas</b><br>
df.shape<br>
df.columns<br>
df.dtypes<br>
df.describe()<br>
df.isna().mean() check missing values

### <font color='green'><b>Shopify</font></b>

In [13]:
shopify = pd.read_csv("../data/Shopify.csv", encoding="latin-1", sep=";", header=3)
shopify.head()

,HÃ¤nvisande kanal,HÃ¤nvisande medium,Ordrar,OmsÃ¤ttning,BruttofÃ¶rsÃ¤ljning,NettofÃ¶rsÃ¤ljning,Orders (previous_period),Total sales (previous_period),Gross sales (previous_period),Net sales (previous_period)
0,google,search,719,447287.72,404104.97,376707.98,889,478779.58,421494.64,403968.33
1,klaviyo,email/sms,353,219129.93,220606.92,188870.78,411,235976.60,215291.38,201079.75
2,lykkenytorget,NaN,53,33622.00,30228.43,27933.38,267,83459.32,77831.80,76662.09
3,instagram,social,34,20794.16,19090.94,17327.51,36,13426.03,12408.16,11949.38
4,unattributed,NaN,15,11009.81,9485.00,9273.84,26,14253.56,12622.38,12315.87

In [16]:
shopify.columns

Index(['HÃ¤nvisande kanal', 'HÃ¤nvisande medium', 'Ordrar', 'OmsÃ¤ttning',
       'BruttofÃ¶rsÃ¤ljning', 'NettofÃ¶rsÃ¤ljning', 'Orders (previous_period)',
       'Total sales (previous_period)', 'Gross sales (previous_period)',
       'Net sales (previous_period)'],
      dtype='object')

'HÃ¤nvisande kanal' = Hänvisande kanal → Referring channel (marketing source, e.g. Google, Klaviyo)<br> 
'HÃ¤nvisande medium' = Hänvisande medium → Referring medium (type of channel, e.g. email, search)<br> 
'Ordrar' = Orders<br> 
'OmsÃ¤ttning' = Omsättning → Revenue / Turnover<br> 
'BruttofÃ¶rsÃ¤ljning' = Bruttoförsäljning → Gross sales<br> 
'NettofÃ¶rsÃ¤ljning' = Nettoförsäljning → Net sales<br> 
'Orders (previous_period)'<br> 
'Total sales (previous_period)'<br> 
'Gross sales (previous_period)'<br> 
'Net sales (previous_period)'<br> 

Let's rename the columns

In [17]:
shopify = shopify.rename(columns={
    'HÃ¤nvisande kanal': 'Referring channel',
    'HÃ¤nvisande medium': 'Referring medium',
    'Ordrar': 'Orders',
    'OmsÃ¤ttning': 'Revenue',
    'BruttofÃ¶rsÃ¤ljning': 'Gross sales',
    'NettofÃ¶rsÃ¤ljning': 'Net sales'
})

shopify.head()

,Referring channel,Referring medium,Orders,Revenue,Gross sales,Net sales,Orders (previous_period),Total sales (previous_period),Gross sales (previous_period),Net sales (previous_period)
0,google,search,719,447287.72,404104.97,376707.98,889,478779.58,421494.64,403968.33
1,klaviyo,email/sms,353,219129.93,220606.92,188870.78,411,235976.60,215291.38,201079.75
2,lykkenytorget,NaN,53,33622.00,30228.43,27933.38,267,83459.32,77831.80,76662.09
3,instagram,social,34,20794.16,19090.94,17327.51,36,13426.03,12408.16,11949.38
4,unattributed,NaN,15,11009.81,9485.00,9273.84,26,14253.56,12622.38,12315.87

In [20]:
shopify.shape

(39, 10)

In [21]:
shopify.dtypes

Referring channel                 object
Referring medium                  object
Orders                             int64
Revenue                          float64
Gross sales                      float64
Net sales                        float64
Orders (previous_period)           int64
Total sales (previous_period)    float64
Gross sales (previous_period)    float64
Net sales (previous_period)      float64
dtype: object

In [22]:
shopify.describe()

,Orders,Revenue,Gross sales,Net sales,Orders (previous_period),Total sales (previous_period),Gross sales (previous_period),Net sales (previous_period)
count,39.000000,39.000000,39.000000,39.000000,39.000000,39.000000,39.000000,39.00000
mean,31.410256,19687.838974,18397.741538,16697.738718,46.256410,23594.626410,21074.247949,20157.03641
std,126.452137,78607.082344,72597.209278,66488.246479,158.675557,84672.729346,75123.193561,71685.93687
min,0.000000,0.000000,0.000000,-15.850000,0.000000,0.000000,0.000000,0.00000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
50%,1.000000,786.000000,701.790000,701.790000,1.000000,606.800000,559.810000,533.34000
75%,2.500000,2276.770000,2188.855000,1921.165000,5.000000,2943.840000,2770.865000,2588.63000
max,719.000000,447287.720000,404104.970000,376707.980000,889.000000,478779.580000,421494.640000,403968.33000

In [23]:
shopify.isna().mean()

Referring channel                0.000000
Referring medium                 0.666667
Orders                           0.000000
Revenue                          0.000000
Gross sales                      0.000000
Net sales                        0.000000
Orders (previous_period)         0.000000
Total sales (previous_period)    0.000000
Gross sales (previous_period)    0.000000
Net sales (previous_period)      0.000000
dtype: float64

In [18]:
shopify.head(50)

,Referring channel,Referring medium,Orders,Revenue,Gross sales,Net sales,Orders (previous_period),Total sales (previous_period),Gross sales (previous_period),Net sales (previous_period)
0,google,search,719,447287.72,404104.97,376707.98,889,478779.58,421494.64,403968.33
1,klaviyo,email/sms,353,219129.93,220606.92,188870.78,411,235976.60,215291.38,201079.75
2,lykkenytorget,NaN,53,33622.00,30228.43,27933.38,267,83459.32,77831.80,76662.09
3,instagram,social,34,20794.16,19090.94,17327.51,36,13426.03,12408.16,11949.38
4,unattributed,NaN,15,11009.81,9485.00,9273.84,26,14253.56,12622.38,12315.87
5,duckduckgo,search,13,8053.96,7381.02,6684.54,12,8455.61,7321.11,7243.11
6,bing,search,11,6850.53,6696.46,5935.77,19,11618.31,10470.08,10149.33
7,klaviyo,email,4,3443.86,3520.25,3091.47,4,1548.70,1385.69,1280.98
8,shop_app,NaN,3,3158.50,2887.51,2820.12,0,0.00,0.00,0.00
9,yahoo!,search,3,2743.40,2663.84,2295.00,3,1837.60,1775.90,1591.62
10,klarna,NaN,2,1810.14,1713.87,1547.33,2,1138.89,939.06,939.06
11,underconsideration,NaN,1,1487.75,1328.97,1328.97,0,0.00,0.00,0.00
12,brave,NaN,1,1138.32,1063.86,1063.86,0,0.00,0.00,0.00
13,office,NaN,1,895.27,813.91,813.91,1,547.00,488.40,488.40
14,ecosia,search,1,847.02,854.19,791.58,2,1024.00,914.29,914.29
15,chatgpt,NaN,1,840.00,744.52,744.52,0,0.00,0.00,0.00
16,riktigtkaffe,NaN,1,834.30,827.66,744.91,0,0.00,0.00,0.00
17,drawnames,NaN,1,816.30,802.46,722.23,0,0.00,0.00,0.00
18,cremashop,NaN,1,799.00,713.39,713.39,0,0.00,0.00,0.00
19,hotdeals,NaN,1,786.00,701.79,701.79,0,0.00,0.00,0.00
20,privacywall,NaN,1,588.00,525.00,525.00,0,0.00,0.00,0.00
21,temp-mail,NaN,1,257.10,190.88,175.80,1,564.30,559.81,503.84
22,outlook.com,email,1,253.00,176.79,176.79,0,0.00,0.00,0.00
23,milirose,NaN,1,198.00,124.11,124.11,0,0.00,0.00,0.00
24,abandoned_cart,email,1,181.65,133.03,113.08,0,0.00,0.00,0.00
25,trello,NaN,0,0.00,0.00,0.00,1,606.80,575.05,575.05
26,stripe,NaN,0,0.00,0.00,0.00,1,376.00,291.96,291.96
27,pinterest,social,0,0.00,0.00,0.00,1,2084.56,1926.64,1926.64
28,smart,NaN,0,0.00,0.00,0.00,29,18225.20,15319.39,15245.16
29,songkick,NaN,0,0.00,0.00,0.00,1,390.00,367.92,367.92
30,meta,NaN,0,0.00,0.00,0.00,5,3337.68,3136.07,2771.60
31,startpage,NaN,0,0.00,0.00,0.00,1,796.40,744.34,744.34
32,facebook,social,0,0.00,0.00,0.00,79,36252.48,31088.88,30222.17
33,thesatchisix,NaN,0,0.00,0.00,0.00,5,1404.19,1280.97,1280.97
34,timesact,NaN,1,0.00,132.15,-15.85,0,0.00,0.00,0.00
35,mailanyone,NaN,0,0.00,0.00,0.00,1,666.68,533.34,533.34
36,kaffesverige,NaN,0,0.00,0.00,0.00,1,317.00,230.36,230.36
37,allthingslive,NaN,0,0.00,0.00,0.00,5,2550.00,2405.66,2405.66
38,messenger,social,0,0.00,0.00,0.00,1,553.94,492.39,443.20

### <font color='green'><b>Fortnox 2024-2025</font></b>

In [27]:
fortnox = pd.read_excel("../data/Fortnox_data_2024_2025.xlsx")

#encoding="latin-1", sep=";", header=3)
fortnox.head()

,YEAR(date),MONTH(date),Source_id,Name,Category,Summa_Enheter,Summa_Fakturerat_ex_moms,Summa_Rabatt,Summa_SEK_inkl_rabatt,TB,COGS,Fakturerat_Per_Enhet_InklRabatt,TB_Per_Enhet,COGS_Per_Enhet
0,2024,1,ACTIGATE|UNKNOWN,Okänt,Okänt,71.5,226009.95,47643.6,178394.59,178393.40,47616.55,2495.029231,2495.012587,665.965734
1,2024,1,FORTNOX|914748|10001,FRAMKÖRNING,6000,6.0,4500.00,0.0,4500.00,300.00,4200.00,750.000000,50.000000,700.000000
2,2024,1,FORTNOX|914748|10002,ARBETSTID SINO,6000,11.0,10010.00,0.0,10010.00,3410.00,6600.00,910.000000,310.000000,600.000000
3,2024,1,FORTNOX|914748|10006,Installation Espressomaskin,6000,1.0,4500.00,0.0,4500.00,1300.00,3200.00,4500.000000,1300.000000,3200.000000
4,2024,1,FORTNOX|914748|10010,ÖPPEN ARTIKEL 25% MOMS,6000,19.0,150688.40,0.0,150688.40,-81862.53,232550.93,7930.968421,-4308.554211,12239.522632

In [28]:
fortnox.columns

Index(['YEAR(date)', 'MONTH(date)', 'Source_id', 'Name', 'Category',
       'Summa_Enheter', 'Summa_Fakturerat_ex_moms', 'Summa_Rabatt',
       'Summa_SEK_inkl_rabatt', 'TB', 'COGS',
       'Fakturerat_Per_Enhet_InklRabatt', 'TB_Per_Enhet', 'COGS_Per_Enhet'],
      dtype='object')

### <font color='green'><b>Linklog</font></b>

In [29]:
linklog = pd.read_excel("../data/Linklog_History_20240801-20250821.xlsx")

#encoding="latin-1", sep=";", header=3)
linklog.head()

,ShipDate,AWB,Receiver City,Receiver Country,Sender City,Sender Country,Sender Name,Weight,Pieces,Product,Description,Senders reference,Created By
0,2025-06-26,7058682647,Hökarängen,SE,Nacka,SE,Herr,6.0,1,DHL_Freight_Service_Point_C2B,Coffee tea,RT 4231892839,Sanne Bendixen
1,2025-05-22,7056172534,Hökarängen,SE,Stockholm,SE,Frida Grenås,12.0,1,DHL_Freight_Service_Point_C2B,Coffee tea,4218121897,Sanne Bendixen
2,2025-05-22,7056186062,Hökarängen,SE,Bromma,SE,Daniel Amarante,4.0,1,DHL_Freight_Service_Point_C2B,Coffee tea,4218178103,Sanne Bendixen
3,2025-07-29,7030701267,Hökarängen,SE,Möja,SE,Carolina Osterkamp,2.0,1,DHL_EXPRESS_WORLDWIDE,Coffee tea,RT 8372220858,Sanne Bendixen
4,2025-07-08,1ZB9038B0402351165,Rovaniemi,FI,Hökarängen,SE,Lykke Kaffegårdar (Carlos Bror AB),0.2,1,UPS_Saver,tea,NaN,Lykke

In [30]:
linklog.shape

(1393, 13)

In [31]:
linklog.columns

Index(['ShipDate', 'AWB', 'Receiver City', 'Receiver Country', 'Sender City',
       'Sender Country', 'Sender Name', 'Weight', 'Pieces', 'Product',
       'Description', 'Senders reference', 'Created By'],
      dtype='object')

### <font color='green'><b>Freights</font></b>

In [36]:
freights = pd.read_excel("../data/Freights_web.xlsx", header=8)
freights.head()

/opt/anaconda3/lib/python3.12/site-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

,Datum,ID,Order,Leverantör,Fraktmetod,Självkostnadspris,Försäljningspris,Diff,Tjänstkod,Land,Unnamed: 10
0,2023-04-19 00:00:00,3453,10560.0,Link Logistics,DHL service point,NaN,49.00,NaN,36P,Sverige,NaN
1,2023-04-19 00:00:00,3456,10557.0,Link Logistics,DHL service point,NaN,49.00,NaN,36P,Sverige,NaN
2,2023-04-20 00:00:00,3479,10572.0,Link Logistics,DHL service point,NaN,49.00,NaN,36P,Sverige,NaN
3,2023-04-20 00:00:00,3480,3485.0,Link Logistics,DHL service point,NaN,55.00,NaN,36P,Sverige,NaN
4,2023-04-20 00:00:00,3483,10568.0,Link Logistics,DHL service point,NaN,49.00,NaN,36P,Sverige,NaN

In [37]:
freights.head(50)

,Datum,ID,Order,Leverantör,Fraktmetod,Självkostnadspris,Försäljningspris,Diff,Tjänstkod,Land,Unnamed: 10
0,2023-04-19 00:00:00,3453,10560.0,Link Logistics,DHL service point,NaN,49.00,NaN,36P,Sverige,NaN
1,2023-04-19 00:00:00,3456,10557.0,Link Logistics,DHL service point,NaN,49.00,NaN,36P,Sverige,NaN
2,2023-04-20 00:00:00,3479,10572.0,Link Logistics,DHL service point,NaN,49.00,NaN,36P,Sverige,NaN
3,2023-04-20 00:00:00,3480,3485.0,Link Logistics,DHL service point,NaN,55.00,NaN,36P,Sverige,NaN
4,2023-04-20 00:00:00,3483,10568.0,Link Logistics,DHL service point,NaN,49.00,NaN,36P,Sverige,NaN
5,2023-04-21 00:00:00,3495,10582.0,Link Logistics,DHL service point,100.79,0.00,-100.79,36P,Sverige,NaN
6,2023-04-21 00:00:00,3496,10581.0,Link Logistics,DHL service point,100.79,49.00,-51.79,36P,Sverige,NaN
7,2023-04-21 00:00:00,3499,10578.0,Link Logistics,DHL service point,100.79,49.00,-51.79,36P,Sverige,NaN
8,2023-04-21 00:00:00,3507,10586.0,Link Logistics,DHL service point,100.79,49.00,-51.79,36P,Sverige,NaN
9,2023-04-21 00:00:00,3500,10577.0,Link Logistics,DHL service point,100.79,49,-51.79,36P,Sverige,NaN
10,2023-04-21 00:00:00,3501,10576.0,Link Logistics,DHL service point,100.79,NaN,NaN,36P,Sverige,NaN
11,2023-04-21 00:00:00,3502,10575.0,Link Logistics,DHL service point,100.79,49.00,-51.79,36P,Sverige,NaN
12,2023-04-27 00:00:00,3595,10665.0,Link Logistics,UPS Express Home Delivery,195.36,55.00,"-140,36",9P,Sverige,NaN
13,2023-05-19 00:00:00,4093,11046.0,Link Logistics,UPS Express Home Delivery,376.40,99.00,-277.40,9P,Sverige,NaN
14,2023-06-12 00:00:00,4629,11521.0,Link Logistics,DHL Express On Demand,373.98,306.18,-67.80,1P,Singapore,NaN
15,2023-06-12 00:00:00,4668,11482.0,Link Logistics,UPS Express Home Delivery,310.20,99.00,-211.20,9P,Sverige,NaN
16,2023-06-13 00:00:00,4697,11537.0,Link Logistics,UPS Express Home Delivery,387.21,99.00,-288.21,9P,Sverige,NaN
17,2023-07-11 00:00:00,5123,11815.0,Link Logistics,UPS Express Home Delivery,191.91,149,-42.91,9P,Sverige,NaN
18,2023-07-31 00:00:00,5384,11978.0,Link Logistics,UPS Standard Home Del,172.02,0.00,-172.02,10P,Tyskland,NaN
19,2023-08-24 00:00:00,5816,12293.0,Link Logistics,UPS Express Home Delivery,177.10,99.00,-78.10,9P,Sverige,NaN
20,2023-11-13 00:00:00,7225,13377.0,Link Logistics,DHL Express On Demand,209.85,ordern finns ej I shopify,finns ej i shopify,1P,Sverige,NaN
21,2023-11-16 00:00:00,7320,13447.0,Link Logistics,DHL Express On Demand,407.04,99.00,-308.04,1P,Sverige,NaN
22,2023-11-27 00:00:00,7564,13634.0,Link Logistics,DHL Express On Demand,271.38,149,-122.38,1P,Sverige,NaN
23,2023-11-28 00:00:00,7575,13646.0,Link Logistics,DHL Express On Demand,251.80,finns ej I shopify,finns ej I shopify,1P,Sverige,NaN
24,2023-11-29 00:00:00,7594,13656.0,Link Logistics,UPS Express Home Delivery,377.04,99.00,-278.04,9P,Sverige,NaN
25,2023-11-30 00:00:00,7631,13668.0,Link Logistics,DHL Express On Demand,209.85,149.00,-60.85,1P,Sverige,NaN
26,2023-12-07 00:00:00,7814,13883.0,Link Logistics,DHL Express On Demand,209.85,0.00,-209.85,1P,Sverige,NaN
27,2023-12-18 00:00:00,8067,14051.0,Link Logistics,US FED-EX Home Delivery,274.11,154.13,-119.98,24P,USA,NaN
28,2023-12-18 00:00:00,8085,14033.0,Link Logistics,DHL Express On Demand,230.83,ordern finns ej I shopify,NaN,1P,Tyskland,NaN
29,2023-12-27 00:00:00,8233,14138.0,Link Logistics,DHL service point,102.93,59.00,-49.93,36P,Sverige,NaN
30,2024-01-15 00:00:00,8528,1453.0,Link Logistics,US FED-EX Home Delivery,226.56,154.14,-72.42,24P,USA,NaN
31,2024-01-22 00:00:00,8607,14406.0,Link Logistics,US FED-EX Home Delivery,274.11,156.97,-117.14,24P,USA,NaN
32,2024-02-05 00:00:00,8806,14546.0,Link Logistics,US FED-EX Home Delivery,223.32,157.52,-65.80,24P,USA,NaN
33,2024-02-06 00:00:00,8823,14565.0,Link Logistics,UPS Express Home Delivery,219.20,99.00,-120.20,9P,Sverige,NaN
34,2024-02-19 00:00:00,8953,14664.0,Link Logistics,DHL Express On Demand,249.20,99.00,-150.20,1P,Sverige,NaN
35,2024-02-26 00:00:00,9048,14665.0,Link Logistics,US FED-EX Home Delivery,299.13,156.36,-142.77,24P,USA,NaN
36,2024-02-26 00:00:00,9059,14754.0,Link Logistics,US FED-EX Home Delivery,223.32,154.86,-68.46,24P,USA,NaN
37,2024-02-26 00:00:00,9084,14728.0,Link Logistics,US FED-EX Home Delivery,223.32,154.73,-68.59,24P,USA,NaN
38,2024-03-01 00:00:00,9161,14799.0,Link Logistics,FedEx Economy Home Del,157.75,0.00,-157.75,24P,Spanien,NaN
39,2024-03-06 00:00:00,9225,14826.0,Link Logistics,US FED-EX Home Delivery,228.18,154.76,-73.42,24P,USA,NaN
40,2024-03-11 00:00:00,9276,14910.0,Link Logistics,DHL Express On Demand,351.70,99.00,-252.70,1P,Sverige,NaN
41,2024-03-27 00:00:00,9562,15105.0,Link Logistics,US FED-EX Home Delivery,238.04,157.82,-80.22,24P,USA,NaN
42,2024-04-10 00:00:00,9789,15323.0,Link Logistics,US FED-EX Home Delivery,236.35,160.19,-76.16,24P,USA,NaN
43,2024-04-10 00:00:00,9790,15425.0,Link Logistics,US FED-EX Home Delivery,226.56,159.63,-66.93,24P,USA,NaN
44,2024-04-15 00:00:00,9867,15493.0,Link Logistics,US FED-EX Home Delivery,226.56,160.86,-65.70,24P,USA,NaN
45,2024-04-17 00:00:00,9908,15611.0,Link Logistics,FedEx Economy Home Del,156.63,0.00,-156.63,24P,Spanien,NaN
46,2024-04-17 00:00:00,9912,15610.0,Link Logistics,US FED-EX Home Delivery,226.56,153.15,-73.41,24P,USA,NaN
47,2024-04-23 00:00:00,9954,15656.0,Link Logistics,US FED-EX Home Delivery,226.56,154.41,-72.15,24P,USA,NaN
48,2024-05-07 00:00:00,10179,15854.0,Link Logistics,UPS Express Home Delivery,260.96,162.37,-98.59,9P,USA,NaN
49,2024-05-07 00:00:00,10180,15862.0,Link Logistics,US FED-EX Home Delivery,226.56,162.37,-64.19,24P,USA,NaN

### <font color='green'><b>Recharge subscription</font></b>

In [40]:
recharge = pd.read_csv("../data/Recharge_subscription.csv", sep=";")
recharge.head()

#encoding="latin-1", sep=";", header=3)

,date,subscription_total_sales_amount,subscription_aov,subscription_orders,subscription_gross_revenue,subscription_order_tax_amount,subscription_order_shipping_amount,subscription_order_discount_amount
0,2024-08-19,5773.38,360.8362,16,4172.77,668.87,931.74,0.00
1,2024-08-26,4684.08,334.5771,14,3431.53,615.77,660.00,-23.22
2,2024-09-02,7560.15,397.9026,19,6195.13,855.39,795.65,-286.02
3,2024-09-09,3347.28,304.2982,11,3079.18,404.72,495.00,-631.62
4,2024-09-16,6005.13,353.2429,17,4439.31,715.17,850.65,0.00

### <font color='green'><b>Orders Data LTM Aug 2025</font></b>

In [42]:
path = "../data/Orders_Data_LTM_Aug_2025.csv"

orders_ltm = pd.read_csv(
    path,
    sep=";",              # many EU exports use semicolon
    encoding="latin-1",   # fixes å/ä/ö
    engine="python",      # more tolerant parser
    on_bad_lines="skip"   # skip any stray lines
)
orders_ltm.head()

,Name,Financial Status,Paid at,Fulfillment Status,Fulfilled at,Accepts Marketing,Currency,Subtotal,Shipping,Taxes,...,Tax 3 Name,Tax 3 Value,Tax 4 Name,Tax 4 Value,Tax 5 Name,Tax 5 Value,Receipt Number,Duties,Billing Province Name,Shipping Province Name
0,#20113,refunded,2025-07-31 19:50:36 +0200,fulfilled,2025-08-01 10:37:36 +0200,yes,SEK,1314.00,0.00,140.79,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,#20112,paid,2025-07-31 07:20:56 +0200,fulfilled,2025-07-31 10:27:27 +0200,no,SEK,664.20,0.00,71.17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,#20112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,#20112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,#20112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### <font color='green'><b>Produkt export Aug 2025</font></b>

In [56]:
path = "../data/Produkt_export_Aug_2025.csv"
produkt_export_aug2025 = pd.read_csv(path, encoding="utf-8-sig", low_memory=False)

# Show the shape (rows, columns) and first rows
print(produkt_export_aug2025.shape)
produkt_export_aug2025.head()

ParserError: Error tokenizing data. C error: Expected 71 fields in line 1205, saw 73

In [60]:
import pandas as pd

fixed = "../data/Produkt_export_Aug_2025__fixed.csv"

df = pd.read_csv(
    fixed,
    encoding="utf-8-sig",
    engine="python",          # tolerant parser
    quotechar='"',
    doublequote=True,
    escapechar="\\",
    on_bad_lines="skip",      # don't crash on a few messy lines
    dtype=str
)
print(df.shape)
df.head()

(724, 71)

,Handle,Title,Body (HTML),Vendor,Product Category,Type,Tags,Published,Option1 Name,Option1 Value,...,Material (product.metafields.shopify.material),Doft (product.metafields.shopify.scent),Avsett för (product.metafields.shopify.target-gender),Extras connected brew methods (product.metafields.subscription_generator.brew_methods),Tea brew methods (product.metafields.tea-subscription-generator.brew_methods),Variant Image,Variant Weight Unit,Variant Tax Code,Cost per item,Status;;;;;;;;
0,<p>The Aarke Coffee Grinder,made from stainless steel,delivers coffee grounds tailored to your pref...,it supports everything from moka pot to cold ...,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,</div>;;;;;;;;,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,</div>;;;;;;;;,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,</div>;;;;;;;;,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,</div>;;;;;;;;,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [61]:
import csv
from pathlib import Path

src = "../data/Produkt_export_Aug_2025__fixed.csv"   # use your fixed file from before
cleaned = "../data/Produkt_export_Aug_2025__repaired.csv"

with open(src, newline="", encoding="utf-8-sig") as fin, \
     open(cleaned, "w", newline="", encoding="utf-8") as fout:
    r = csv.reader(fin, delimiter=",", quotechar='"', doublequote=True, escapechar="\\")
    w = csv.writer(fout, delimiter=",", quotechar='"', quoting=csv.QUOTE_MINIMAL)

    header = next(r)
    ncols = len(header)
    body_idx = header.index("Body (HTML)")
    w.writerow(header)

    for row in r:
        # If a row has too many columns, glue the extras back into Body (HTML)
        if len(row) > ncols:
            # keep merging the cell immediately after Body into Body until lengths match
            while len(row) > ncols and body_idx + 1 < len(row):
                row[body_idx] = row[body_idx] + "," + row.pop(body_idx + 1)
        # If a row has too few columns, pad with empty strings (rare)
        if len(row) < ncols:
            row += [""] * (ncols - len(row))
        w.writerow(row)

# Now read the repaired file normally
df = pd.read_csv(cleaned, encoding="utf-8-sig", dtype=str)
print(df.shape)
df.head()

(2417, 71)

,Handle,Title,Body (HTML),Vendor,Product Category,Type,Tags,Published,Option1 Name,Option1 Value,...,Material (product.metafields.shopify.material),Doft (product.metafields.shopify.scent),Avsett för (product.metafields.shopify.target-gender),Extras connected brew methods (product.metafields.subscription_generator.brew_methods),Tea brew methods (product.metafields.tea-subscription-generator.brew_methods),Variant Image,Variant Weight Unit,Variant Tax Code,Cost per item,Status;;;;;;;;
0,"lykke-can-fabiano-tomazini-brazil,""LYKKE CAN -...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"happiness-500g-gift,HAPPINESS 500g - Gift,""<p ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"little-bird-crew,Little Bird Crew,""<p data-mce...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"<p data-mce-fragment=""""1"""" class=""""p1"""">This c...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"<p class=""""p1"""">Orange print on grey melange b...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN